:root {
  --main-bg-color: #dfe6ed;
  --main-color: #6458f5;
  --main-typo-color: #283845;
  --main-border-color: #c7d2db;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--main-typo-color);
}

body {
  margin: 0;
}
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: var(--main-bg-color);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: var(--main-typo-color);

  text-decoration: none;
}

.main-nav-item-wrapper {
  display: flex;
  align-items: center;
}
.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.logged-in-icons {
  color: grey;
}
.logged-in-icons:hover {
  transform: scale(1.2);
}
.nav-icon {
  transition: all 250ms;
  margin: 0 5px 0 30px;
}
.nav-icon.sign-in:hover {
  transform: scale(1.2);
}

.span-hidden {
  display: none;
}

.span-hidden-sign-in-txt {
  display: none;
}

.main-nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
span {
  font-weight: bold;
  /* color: #2c3e50; */
}

.main-nav-logo {
  display: flex;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* height: 10px; */
  margin: 5px 0;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url("./assets/img/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 42px;
  /* padding: 8px; */
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  /* border-color: #00bc77; */
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 250ms;
}
.sign-in-button:hover {
  background-color: white;
  color: var(--main-color);
  border: var(--main-color) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sign-in-button:hover .dot-spinner__dot::before {
  background-color: var(--main-color);
}

.sign-out-title {
  margin-top: 20px;
}
.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sign-in-content:has(.sign-out-title) {
  margin-top: 150px;
}
.sign-out-back-profile {
  display: block;
  margin-top: 20px;
  color: #2c3e50;
  font-weight: 700;
}
.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
  border: solid 2px rgba(0, 0, 0, 0.336);
  outline: none;
}
.input-wrapper input:hover {
  border: solid 2px #6558f5a9;
}
.input-wrapper input:focus {
  border: solid 2px var(--main-color);
}

.input-wrapper.warning input {
  /* box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.6); */
  border-color: rgba(255, 0, 0, 0.5);
  /* border: solid 1px; */
  box-sizing: border-box;
  outline: none;
}
.input-wrapper.warning input:hover {
  border: solid 2px #6558f5a9;
}
.input-wrapper.warning input:focus {
  border: solid 2px var(--main-color);
}

.warning-logs-msg {
  height: 15px;
  margin: 7px 0 0;
  text-align: end;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}
.fetch-error-msg {
  color: red;
  margin: 20px 0 0;
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px rgba(0, 0, 0, 0.336);

  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.edit-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.edit-button {
  /* border-color: #00bc77; */
  background-color: var(--main-color);
  color: white;
  font-weight: bold;

  height: 35px;
  width: 120px;
  border-radius: 5px;
  transition: all 250ms;
  cursor: pointer;
  border: var(--main-color) 1px solid;
}
.edit-button:hover {
  background-color: white;
  color: var(--main-color);
  border: var(--main-color) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.edit-button.edit-button-form .dot-spinner__dot::before {
  background-color: var(--main-color);
}
.edit-button.edit-button-form:hover .dot-spinner__dot::before {
  background-color: white;
}

.edit-button.edit-button-form {
  background-color: white;
  padding: 0;
  height: 35px;
  color: var(--main-color);
  border: #6558f570 3px solid;
}
.edit-button.edit-button-form:hover {
  background-color: var(--main-color);
  color: white;
}

.header {
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;

  color: #fff;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 250ms;
}

.transaction-button:hover {
  background-color: white;
  color: var(--main-color);
  border: var(--main-color) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 600;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}

@media (min-width: 537px) {
  .edit-button {
    height: 40px;
  }

  .edit-button-wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .span-hidden {
    display: inline;
  }
  .nav-icon {
    margin: 0 12px 0 30px;
  }
  .logged-in-icons:hover {
    transform: scale(1);
  }
}
@media (min-width: 390px) {
  .span-hidden-sign-in-txt {
    display: inline;
  }
  .nav-icon.sign-in:hover {
    transform: scale(1);
  }
}

.form-edit-user-infos .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-user-info {
  border-radius: 5px;
  width: 170px;
  height: 30px;
  padding: 5px 0 5px 10px;
  border: solid 2px rgba(0, 0, 0, 0.336);

  box-sizing: border-box;
}
.input-user-info.input-error {
  /* outline: #fc3f3f 2px solid; */

  border-color: rgba(255, 0, 0, 0.5);
}
.input-user-info:hover {
  border-color: #6558f5a9;
}
/* .input-user-info:hover.input-error {
  outline: rgba(255, 0, 0, 0.95) 2px solid;
  box-shadow: none;
} */
.input-user-info:focus {
  border: var(--main-color) 2px solid;
  outline: none;
}
/* .input-user-info:focus.input-error {
  border: rgba(255, 0, 0, 0.95) 3px solid;
  outline: none;
  box-shadow: none;
} */
.input-user-info::placeholder {
  color: #6d6d6d80;
}

.inputErrorMsg {
  color: red;
}

@media (min-width: 520px) {
  .form-edit-user-infos .input-wrapper {
    flex-direction: row;

    gap: 20px;
  }
  .input-user-info {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 5px 0 5px 30px;
  }
}
